.analytics-page{
  margin-left:280px;
  width:calc(100% - 280px);
  min-height:100vh;
  padding:35px;
  background:#f8fafc;
}

.page-header{
  margin-bottom:25px;
}

.page-header h1{
  color:#0f172a;
  font-size:2rem;
  margin-bottom:5px;
}

.page-header p{
  color:#64748b;
}

.stats-grid{
  display:grid;

  grid-template-columns:
  repeat(
    auto-fit,
    minmax(
      220px,
      1fr
    )
  );

  gap:20px;

  margin-bottom:25px;
}

.stat-card{
  background:white;

  padding:22px;

  border-radius:18px;

  display:flex;
  align-items:center;
  gap:18px;

  border:1px solid #e2e8f0;

  box-shadow:
  0 8px 25px rgba(15,23,42,.04);
}

.stat-icon{
  width:60px;
  height:60px;

  border-radius:14px;

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:22px;
}

.total{
  background:#4f46e5;
}

.approved{
  background:#10b981;
}

.pending{
  background:#f59e0b;
}

.rejected{
  background:#ef4444;
}

.approval-card{
  background:white;

  padding:25px;

  border-radius:18px;

  margin-bottom:25px;

  border:1px solid #e2e8f0;

  box-shadow:
  0 8px 25px rgba(15,23,42,.04);
}

.approval-card h3{
  margin-bottom:15px;
}

.progress-bar{
  width:100%;
  height:14px;

  background:#e5e7eb;

  border-radius:20px;

  overflow:hidden;

  margin-bottom:15px;
}

.progress-fill{
  height:100%;

  background:
  linear-gradient(
    90deg,
    #4f46e5,
    #2563eb
  );
}

.charts-grid{
  display:grid;

  grid-template-columns:
  repeat(
    auto-fit,
    minmax(
      450px,
      1fr
    )
  );

  gap:25px;
}

.chart-card{
  background:white;

  border-radius:20px;

  padding:25px;

  border:1px solid #e2e8f0;

  box-shadow:
  0 8px 25px rgba(15,23,42,.04);
}

.chart-card h2{
  margin-bottom:20px;
}

.empty-state{
  background:white;

  border-radius:20px;

  padding:80px 30px;

  text-align:center;

  border:1px solid #e2e8f0;
}

.empty-state h2{
  color:#0f172a;
  margin-bottom:10px;
}

.empty-state p{
  color:#64748b;
}

@media(max-width:768px){

  .analytics-page{
    margin-left:85px;
    width:calc(100% - 85px);
    padding:20px;
  }

  .charts-grid{
    grid-template-columns:1fr;
  }

  .stats-grid{
    grid-template-columns:1fr;
  }
}